<table>
  <thead>
    <tr>
      <th>Component</th>
      <th>Releases
          <button id="release-button" type="button" class="btn btn-mini pull-right"
            data-toggle="collapse" data-target=".collapse">Show older releases</button>
      </th>
    </tr>
  </thead>
  <tbody>
{% for c in site.data.versions.components %}
  <tr>
  <td> {{c[1].name }} </td>
  <td>
      <ul class="unstyled">
        <li>
          <a href="{{ site.baseurl }}/release-notes/{{c[0]}}/{{c[1].current}}">{{ c[1].current}}</a>
        </li>
    {% if c[1].previous != empty %}
        {% for v in c[1].previous %}
          <li class="collapse"><a href="{{ site.baseurl }}/release-notes/{{ c[0] }}/{{ v }}">{{ v }}</a></li>
        {% endfor %}
    {% endif %}
     </ul>
  </td>
  </tr>
{% endfor %}
  </tbody>
</table>
